{% extends "layout.njk" %}

{% set title = "Menu" %}

{% block style %}
<style>
  .food-delete {
    cursor: pointer;
  }
</style>
{% endblock %}

{% block content %}
<h1 class="my-5 text-center">
  {{ title }}
</h1>

<section class="card-deck">
  {% for food in foods %}
  <div class="card-food col-sm-6 col-lg-4 col-xl-3 mb-3" id="food-{{ food.id }}">
    <div class="card">
      <div class="card-header text-center font-weight-bold">
        <span class="food-name">
          {{ food.name }}
        </span>
        <span class="food-delete float-right text-danger">
          <i
            class="far fa-trash-alt"
            onclick="deleteFoodView({{ food.id }}, '{{ food.name }}')">
          </i>
        </span>
      </div>
      <div class="card-body p-0">
        <img src="{{ food.image }}" alt="{{ food.name }}" class="w-100">
      </div>
      <div class="card-footer text-right">
        <span class="food-category float-left badge badge-secondary">{{ food.category }}</span>
        <span class="food-price">{{ food.price }}</span>
      </div>
    </div>
  </div>
  {% endfor %}
</section>
{% include "foods/_delete.njk" %}
{% endblock %}

{% block script %}
<script type="module">
  import api from '/js/services/api.js';

  function formatCurrency() {
    const prices = document.querySelectorAll('.card-footer .food-price');
    prices.forEach((price) => {
      price.innerHTML = Intl.NumberFormat('pt-BR', {
        style: 'currency',
        currency: 'BRL',
      }).format(price.innerHTML)
    });
  }

  function deleteFoodView(foodId, foodName) {
    $('#deleteFoodModal').modal('toggle');

    document.querySelector('#modal-name-food').innerHTML = foodName;

    document.querySelector('#deleteFoodBtn').onclick = async (e) => {
      e.preventDefault();

      await api.destroy(`/foods/${foodId}`);

      document.querySelector(`#food-${ foodId }`).remove();

      $('#deleteFoodModal').modal('toggle');
    };
  }

  window.deleteFoodView = deleteFoodView;

  formatCurrency();
</script>
{% endblock %}
